.navbar-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; /* This spaces out the logo and navigation */
  width: 100%;
  padding: 0 15px; /* Adjust the horizontal padding */
  padding-bottom: 0;
  
}

.main-header {
  background-color: #f4e9e9ea; 
  width: 100%;
  padding: 3px; 
  height: 10vh;
  
  display: flex; /* Enables flexbox for the header */
  justify-content: right; 
  align-items: center; /* Centers the content vertically */

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.main-page-navbar {
  background-color: transparent;
  display: flex; /* Enables flexbox for nav */
  float: right;
  align-items: center; /* Vertically centers the nav items */
  margin-bottom: 0px;
  
  
}
.main-page-navbar ul {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

.main-page-navbar li {
  
  display: inline-block;
  position: relative;
  margin-left: 10px; 
  padding-top: 0px; 
}

.main-page-navbar a { /*botton*/
  color: rgb(10, 10, 11);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.main-page-navbar a:hover { /*word color*/
  color: #000;
}

.main-page-navbar a::before {
  content: '';
  display: block;
  
  background-color: #444;
  height: 3px; /* Smaller indicator block */

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.main-page-navbar a:hover::before {
  width: 100%;

}







.main-content {
  background-color: rgba(255, 255, 255, 0.5); /* Set a white background for the content area */
  color: #000; /* Set the text color to black for contrast */
  padding: 20px; /* Add some padding around the content */
  /* border-radius: 8px; /* Optional: Round the corners of the content box */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Optional: Add a subtle shadow */
  width: 80%; /* Set the width of the content area */
  max-width: 960px; /* Maximum width of the content area */
  margin: 20px auto; /* Center the content area and add some margin above and below */

  text-align: center;
}

.main-heading, .main-subtitle {
  color: #000; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style for the links to make them stand out and readable */
.main-links a {
  color: #349ad5; /* Color for the links to make them stand out */
  text-decoration: underline; /* Remove underline from links */
  /* text-shadow: 2px 2px 4px #349ad5; */
  margin: 10px; /* Add margin around the links */
  display: inline-block; /* Make the links align in a line */
  
}

.main-links a:hover {
  color: #1d70a2; /* Darker color on hover for better interaction */
}

/* Additional styles for the header and footer if necessary */

h5 {
  text-decoration: underline;
  font-weight: 400;
}
