/* Main.css */


body {
  background-color: #349ad5; /* Set background color for the entire page */
  font-family: 'Changa';
  color: #000000; /* Set text color to white */
}

.header, .footer {
  background-color: #000;
  color: #fff; /* Set text color to white */
}

.navbar {
  background-color: transparent; /* Make the navbar transparent */
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar h1 {
  margin: 0;
  font-size: 48px; /* Increase font size */
  text-align: center;
  margin-bottom: 50px; /* Add space below the h1 */
}

.navbar h2 {
  margin: 5px 0;
  font-size: 36px; /* Increase font size */
  text-align: center;
  margin-bottom: 80px; /* Add space below the h2 */
}

.navbar .menu-icon {
  display: none;
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: x-large;
}

.navbar .menu-icon i {
  font-size: 24px;
}

.navbar .nav-time {
  font-size: 30px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar h1 {
    margin-bottom: 10px;
  }

  .navbar h2 {
    display: none;
  }

  .navbar .menu-icon {
    display: block;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: #0056b3;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}
