body {
    margin: 0;
    font-family: 'Changa'; /* Added font family for better cross-browser compatibility */
}
.flashcard-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }

.container {
    max-width: 900px;
    margin: 1rem auto; /* Center the container horizontally */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Increase the minmax value */
    gap: 1rem;
    padding: 1rem; /* Add padding to the card grid */
    margin: 0; /* Remove margin */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
    height: 100%; /* Make the cards fill the entire height of their container */
}

.card:hover,
.card.flip {
    transform: rotateY(180deg); /* Flip the card on hover or when the 'flip' class is applied */
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    color: #333; /* Change the color of the text */
    text-align: center; /* Center-align the text */
    font-family: 'Changa';
}


.card .back {
    transform: rotateY(180deg); /* Initially hide the back face of the card */
}

.card .back {
    transform: rotateY(180deg); /* Simplified transform property */
}

.flashcard-options {
    margin-top: .5rem;
    color: #555;
    font-size: 0.75em;
}

.flashcard-option:first-child {
    margin-top: 0;
}

.header {
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}



.form-group {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
}
.form-group select:hover,
.form-group select:focus {
  border-color: #888;
}

/* Optional: Add styles for the dropdown options */
.form-group select option {
  font-size: 1rem;
}

.form-group > label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    padding: 12px 20px; /* Increase padding for a nicer button appearance */
    border: none;
    border-radius: 25px; /* Adjust border-radius for a rounded button */
    background-color: #007bff;
    color: #fff;
    font-size: 16px; /* Increase font size for better readability */
    font-weight: bold; /* Apply bold font weight for emphasis */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-btn {
    max-width: 250px;
}