@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
  background: #070707;
  
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
  display: flex;
  align-items: center; /* This will vertically center your items */
  justify-content: space-between; /* This spaces out the logo and navigation */
  width: 100%;
  padding: 0 15px; /* Adjust the horizontal padding as needed */
  padding-bottom: 0;
}

.navhead {
  background-color: #f4e9e9ea; /* Changed to white or any color that suits the page */
  /* Remove the background image if it does not fit well with the design */
  width: 100%;
  /* Adjust padding to control the height of the navbar */
  padding: 3px; /* Reduced padding to decrease height */
  height: 20vh;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.navhead::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 100px; /* Or whatever size you prefer */
  height: auto; /* Maintain aspect ratio */
  float: left; /* Float left to align it with the nav */
  margin-right: 15px; /* Add some space between the logo and the nav items */
  margin-top: 0px;
}


nav {
  display: flex; /* Enables flexbox for nav */
  float: right;
  align-items: center; /* Vertically centers the nav items */
  margin-bottom: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
  margin-left: 10px; /* Reduced spacing between items */
  padding-top: 0px; /* Reduced padding */
}

nav a { /*botton*/
  color: rgb(10, 10, 11);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover { /*word color*/
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  
  background-color: #444;
  height: 3px; /* Smaller indicator block */

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;

}
