

/* Global Styles */
body {
  margin: 0;
  font-family: 'Changa';
  color: #000000;
  /* background-image: url(../src/image-from-rawpixel-id-577697-jpeg.jpg); */
  /* background-size: cover; Ensure the background image covers the entire viewport */
  /* background-repeat: no-repeat; Prevent the background image from repeating */
  /* background-position: center; Center the background image */
}

/* Header */
header {
  background-color: #000; /* Black header */
  padding: 10px 0;
}

/* Footer */
footer {
  background-color: #000; /* Black footer */
  color: #fff; /* White text color for footer */
  padding: 20px 0;
  text-align: center;
}

/* Main Content */

/* Page Content */
.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* White background color for main content */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Forms */
.form-container {
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.App { 
  /*addresses the overall syntax issues*/
  background-color: rgb(240, 240, 240);
  /* background-image: url(../src/image-from-rawpixel-id-577697-jpeg.jpg); */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  position: absolute;
  height: auto;
  width: 100%; 
  min-height: 100vh;
}