/* Register.css */



.auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
  }


.main-header {
  background-color: #f4e9e9ea; /* Changed to white or any color that suits the page */
  /* Remove the background image if it does not fit well with the design */
  width: 100%;
  /* Adjust padding to control the height of the navbar */
  padding: 3px; /* Reduced padding to decrease height */
  height: 10vh;
  
  display: flex; /* Enables flexbox for the header */
  justify-content: right; 
  align-items: center; /* Centers the content vertically */

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.main-page-navbar {
  background-color: transparent;
  display: flex; /* Enables flexbox for nav */
  float: right;
  align-items: center; /* Vertically centers the nav items */
  margin-bottom: 0px;
  
  
}
.main-page-navbar ul {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

.main-page-navbar li {
  
  display: inline-block;
  position: relative;
  margin-left: 10px; /* Reduced spacing between items */
  padding-top: 0px; /* Reduced padding */
}

.main-page-navbar a { /*botton*/
  color: rgb(10, 10, 11);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.main-page-navbar a:hover { /*word color*/
  color: #000;
}

.main-page-navbar a::before {
  content: '';
  display: block;
  
  background-color: #444;
  height: 3px; /* Smaller indicator block */

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

.main-page-navbar a:hover::before {
  width: 100%;

}
  
  .register-form {
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .register-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
    display: block;
  }
  
  .register-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Adjust margin-top for the input field */
.register-form input[type="email"] {
    margin-top: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 12px 20px; /* Increase padding for a nicer button appearance */
    border: none;
    border-radius: 25px; /* Adjust border-radius for a rounded button */
    background-color: #007bff;
    color: #fff;
    font-size: 16px; /* Increase font size for better readability */
    font-weight: bold; /* Apply bold font weight for emphasis */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #0056b3;
  }
  

  .login-btn {
    width: auto;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: #ffcc00;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-btn:hover {
    color: #0056b3;
}

.link-btn {
  width: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #ffcc00;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link-btn:hover {
    color: #0056b3;
}